body {
    padding: 40px;
    text-align: center;
    min-height: 75rem;
    padding-top: 4.5rem;
    background-image: url(../images/1773860-bigthumbnail.jpg);
    

}

.diplay-4 {

text-align: center;
}

