body {
    
    margin: 0; 
    padding: 40px;
    text-align: center;
    min-height: 75rem;
    padding-top: 4.5rem;
    background-image: url(../images/wallpaper-pattern.jpg);
}

input[type="radio"] {
    display:inline-block;
}

#show-number {
    
    margin-bottom: 20px;
}



.answer-button {
    display:inline-block;
}

ul {
    list-style-type: none;
}

h2 {

    color: red;
}

#results {
    
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 200px;
}

#game-container {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    clear: both;

}
.diplay-4 {

text-align: center;
}

